header {
    background-color: #4ea0ff;
    height: 190px;
    background-image: url("../img/pattern.png");
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#sottotitolo {
    opacity: 0.5;
    font-family: ;
}

#a {
    font-size: small;
}

#TheBooleaner {
    color: #4ea0ff;
    opacity: 1;
}

#Photo{
    font-size: smaller;
}

#section1 {
    margin-top: 20px;
}
mark {
    background-color: yellow;
}